<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h2>Your cart</h2>

    {% if cart %}
        <table>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total price</th>
            </tr>
            {% for item in cart %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price }} $</td>
                <td>
                    <form class = "update-quantity-form" method="post" data-game-id="{{ item.game.id }}" action="{% url 'cart_update_quantity' item.game.id %}">
                        {% csrf_token %}
                        <input type="number" name = "quantity" value="{{ item.quantity }}" min="1" class = "quantity-input">
                        <button type="submit" class="update-quantity-btn">Update</button>
                    </form>
                </td>
                <td class="total-price-{{ item.game.id }}">{{ item.total_price }} $</td>
                <td>
                    <form action="{% url 'cart_remove' item.game.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>Total: <span class="total_price">{{ cart.get_total_price }} $</span></h3>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <form action="/games_review">
        <button type="submit">Back to shop.</button>
    </form>
</body>
</html>

<script>
            $(document).ready(function() {
       
       $('.update-quantity-form').submit(function(event) {
           event.preventDefault(); 
           var form = $(this);
           var gameId = form.data('game-id');  
           var quantity = form.find('.quantity-input').val();  

           $.ajax({
               url: '/cart/update/' + gameId + '/', 
               method: 'POST',
               data: {
                   'quantity': quantity,
                   'csrfmiddlewaretoken': form.find('[name="csrfmiddlewaretoken"]').val()
               },
               success: function(response) {
     
                   $('#cart-item-' + gameId).find('td:nth-child(3)').text(quantity);
                   $('#cart-item-' + gameId).find('td:nth-child(4)').text(response.new_total_price + ' $');  
                   $('.total-price').text(response.new_total_price + ' $');  
               }
           });
       });
   });
</script>