<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful order</title>
</head>
<body>
    <header>
        <h2>You`ve succesfuly added this product to your order.</h2>
    </header>
    <form action="/games_review">
        <button type="submit">Back to games.</button>
    </form>
    <form action="/cart">
        <button type="submit">Your Cart.</button>
    </form>
</body>
</html>